body {
    background-color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: #fff ;
    line-height: 1.3;
}

/* Global */
.container {
    width: 80%;
     margin: auto; 
    overflow: hidden; 
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    height: 35px;
    padding: 0 20px;
    background-color:#fdc500;
    border: none;
    color: white;
    font-weight: bold;
}

/* Header */

header {
    background-color: #353535;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: 3px #fdc500 solid;
}

header .highlight, header .current a{
    color: #fdc500;
    font-weight: bold;
}

header a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
} 

header li {
    float: left;
    display: inline;
    list-style: none;
    padding: 0 20px 0 20px;
}


header #branding {
    float: left;
    width: 30%;
}

header h1{
    letter-spacing: 0.02em;
}

header nav {
    float: right;
    width: 70%;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;    
}

header a:hover {
    color: #4a4e69;
    font-weight: bold;
}

/* Showcase */

#showcase {
    background: url('../images/bgimg.png') no-repeat;
    min-height: 400px;
    background-position: 0 -400px;
    text-align: center;
    opacity: 0.7;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size:55px;
    color: #000;
}

#showcase p{
    font-size:20px;
    color: #000;
}

#subscribe {
    background:#f4f3ee;
    padding: 15px;
    text-align: center;
}

#subscribe h3{
    float: left;
    color: #333;
}

#subscribe form {
    float: right;
}

#subscribe input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    border: white;
}

#subscribe input[type="submit"] {
    height: 35px;
    padding: 0 20px;
    background-color:#fdc500;
    border: none;
    color: white;
    font-weight: bold;
}

/* Boxes */

#boxes {
    margin-top: 20px;
    min-height: 50px;
    font-size: 14px;
}

#boxes .box {
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
    color: #333;
}

#boxes .box img{
    width: 80px;
}


/* about page*/

#main {
    color: #333;
}

.dark {
    background: #333;
    color: #fff;
    padding: 10px;;

}
#main-col {
    float: left;
    width: 65%;
}

#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

/* Services page*/
#services li{
    background: rgb(238, 236, 236);
    border: #e7e1e1 solid 1px;
    padding: 10px;
    margin-bottom: 5px;;
}

#sidebar .quote input, textarea {
width: 90%;
padding: 5px;
}


footer {
    background-color: #fcbf49;
    padding: 20px;
    margin-top: 20em;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1em;
}


@media(max-width: 768px){
header #branding,
header nav, header li , #subscribe h1, #subscribe form,
#boxes .box,
article#main-col, aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
}

header {
    padding-bottom: 20px;
}

#showcase h1 {
    margin-top: 40px;
}

#subscribe .button, .quote .button {
    display: block;
    width: 100%;
}

#subscribe form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
}

}